html, body {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  font-family: Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;

  // 自定义 AntDesign 相关样式
  // 按钮 
  .ant-btn {
    height: auto !important;
    font-size: 12rem !important;
    line-height: 1em !important;
    padding: 3rem 7rem;
    margin: 0 5rem;

    &.ant-btn-sm {
      font-size: 10rem !important;
      padding: 2rem 6rem;
    }
    &.ant-btn-lg {
      font-size: 12rem !important;
      padding: 4rem 8rem;
    }
  }
}

// 自定义滚动条
* {
  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
  }
}

// 根据屏幕宽度，定义根元素字体大小
@media screen and (max-width: 1200px) {
  html {
    font-size: 1px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 1px;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 1.1px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 1.2px;
  }
}
@media screen and (min-width: 1800px) {
  html {
    font-size: 1.3px;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 1.4px;
  }
}